.StatCounter {
  width: 350px;
  /* outline: 1px solid tomato; */
  margin-left: 30px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: blue;
  margin-left: auto;
  margin-right: auto;
}
.BtnContainer {
  display: flex;
  justify-content: center;
}

.statBtn {
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(71, 109, 192, 0.363);
}

.statistic {
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  color: blue;
}
